# Goodreads Database

## Summary
<b>Goals</b>:
- create a database with 3 tables:
    - books
    - genres
    - book-genre pairs  
    
<b>Source data</b>: 
- csv file for GoodReads created in Phase 1 of the project (link)  

<b>Implementation:</b>  
For this purposes we used Amazon RDS instance with MySQL rdbms. We need to designe the schema, implement this schema on the existing instance and then populate the created tables with our data.

## DB Schema

In [15]:
from IPython.display import Image
from IPython.core.display import HTML 
HTML("<h3>ER-diagram</h3>")

In [16]:
Image(url= "gr_erd.png")

### Books table creation script

CREATE TABLE bidb.gr_books (
	book_id BIGINT NOT NULL,
	title varchar(255) NOT NULL,
	reviews_cnt INT NULL,
	ratings_cnt INT NULL,
	pub_year INT NULL,
	avg_rating FLOAT NULL,
	alt_avg_rating FLOAT NULL,
	author_1_name varchar(100) NULL,
	author_1_avg_rating FLOAT NULL,
	CONSTRAINT gr_books_PK PRIMARY KEY (book_id)
)
ENGINE=InnoDB
DEFAULT CHARSET=utf8
COLLATE=utf8_general_ci;

### Genres table creation script

CREATE TABLE bidb.gr_genres (
	genre_id varchar(100) NOT NULL,
	name varchar(100) NULL,
	CONSTRAINT gr_genres_PK PRIMARY KEY (genre_id)
)
ENGINE=InnoDB
DEFAULT CHARSET=utf8
COLLATE=utf8_general_ci;

### Genre-book table (many-to-many relationship)

CREATE TABLE bidb.gr_genre_book (
	book_id BIGINT NOT NULL,
	genre_id VARCHAR(100) NOT NULL,
	id BIGINT NOT NULL AUTO_INCREMENT,
	CONSTRAINT gr_genre_book_PK PRIMARY KEY (id),
	CONSTRAINT gr_genre_book_gr_books_FK FOREIGN KEY (book_id) REFERENCES bidb.gr_books(book_id),
	CONSTRAINT gr_genre_book_gr_genres_FK FOREIGN KEY (genre_id) REFERENCES bidb.gr_genres(genre_id)
)
ENGINE=InnoDB
DEFAULT CHARSET=utf8
COLLATE=utf8_general_ci;

## Step 1: Create books table
### Preparing the data
For the books table we alredy have books ids, so we can re-use them. Since we're going to create a separate table for genres, we need to exclude these columns. This can be done is various ways.

In [1]:
# Import the necessray libraries
import pandas as pd
#import numpy as np

In [21]:
# read in the csv file prepared in Phase 1 of the project
df = pd.read_csv("gr_books_v4.csv")

In [22]:
# show the columns that we have now
df.columns

Index(['id', 'title', 'reviews_cnt', 'ratings_cnt', 'pub_year', 'avg_rating',
       'alt_avg_rating', 'author1_name', 'author1_role', 'author1_avg_rating',
       'author2_name', 'author2_role', 'author2_avg_rating', 'author3_name',
       'author3_role', 'author3_avg_rating', 'genres', 'Genre_1', 'Genre_2',
       'Genre_3', 'Genre_4', 'Genre_5', 'Genre_6', 'Genre_7', 'Genre_8',
       'Genre_9', 'Genre_10', 'Genre_11'],
      dtype='object')

For our books table we only need columns 1-8 and 10. We exclude author1_role becuse it's irrelevant for our purposes.

In [27]:
columns = list(df.columns)
books_columns = columns[:8] + [columns[9]]
books_columns

['id',
 'title',
 'reviews_cnt',
 'ratings_cnt',
 'pub_year',
 'avg_rating',
 'alt_avg_rating',
 'author1_name',
 'author1_avg_rating']

Now we only need to save it to a file again:

In [29]:
books_only = df[books_columns]
books_only.to_csv('books_only.csv', index = False)
books_only.head()

,id,title,reviews_cnt,ratings_cnt,pub_year,avg_rating,alt_avg_rating,author1_name,author1_avg_rating
0,37424706,The Art of Gathering: How We Meet and Why It M...,1367,23,NaN,4.30,4.304348,Priya Parker,4.30
1,117833,The Master and Margarita,331567,178007,1967.0,4.32,4.316718,Mikhail Bulgakov,4.25
2,18632929,Kaip atpažinti psichopatą,295551,96957,2012.0,3.92,3.922079,Jon Ronson,3.90
3,1953,A Tale of Two Cities,1240390,710415,1859.0,3.82,3.820596,Charles Dickens,3.87
4,5130,Island,50444,18565,1962.0,3.87,3.866792,Aldous Huxley,3.98

### Populating the table

LOAD DATA LOCAL INFILE '/Users/anamakarevich/gr_books_only.csv'
INTO TABLE gr_books
FIELDS TERMINATED BY ','
    ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS
(book_id, title, reviews_cnt, ratings_cnt, pub_year, avg_rating, alt_avg_rating, author_1_name, author_1_avg_rating)